.wrapper {
  text-align: center;
}

.heading {
  margin: 66px 0 44px 0;
  font-weight: bolder;
  font-size: xx-large;
}

.navigations {
  margin-bottom: 53px;
}
.navigations a {
  margin-right: 30px;
  padding: 13px 18px;
  border-radius: 10%;
}

.navigations .active {
  background-color: red;
  color: white;
}
