.wrapper {
  text-align: center;
}

.heading {
  margin: 66px 0 44px 0;
  font-weight: bolder;
  font-size: xx-large;
}

.navigations {
  margin-bottom: 53px;
  max-width: 250px;
  margin: 0 auto;
}
.navigations a {
  display: block;
  padding: 13px 18px;
  border-radius: 50%;
}

.navigations .active {
  background-color: red;
  color: white;
}

.image {
  background-color: pink;
  padding: 50px 0;
}

.intro{
  background-color: black;
  padding: 30px 0;
  max-width: 300px;
  margin: 0 auto;
}

.intro1 p{
  font-weight: bold;
  font-size:x-large;
  margin-bottom: 20px;
  color: white;
}

.intro2 p{
  color: red;
}

.options img{
  margin: 30px 0;
  height: 145px;
  width: 145px;
}

.set-img{
  background-color: crimson;
}

.flash-img{
  background-color: black;
}

.star-img{
  background-color: grey;
}

.options{
  
  max-width: 250px;
  margin: 0 auto;
}

.options h1{
  font-weight: bold;
  font-size: 17px;
}

.setting-buttons .bttn{
  display: inline-block;
  margin: 20px 15px 0 15px; 
  color: white;
  border-radius: 5%;
  font-weight: 700;
  padding: 5px 10px;
}
.getStarted{
  background-color: #d52349;
}
.learnMore{
  background-color: black;
}

.portfolio-class{
  max-width: 250px;
  margin: 0 auto;
}
.portfolio-sequence img{
  background-color: skyblue;
  width: 240px;
  height: 240px;
}
.portfolio-sequence button{
  background-color: #252122;
  padding: 10px 20px;
  border-radius: 5%;
  color: white;
  font-weight: 500;
    font-size: 1em;
    margin: 30px 0;
}

.blog-class{
  max-width: 60%;
  margin: 0 auto;
}
.sub-blog h{
  font-size: 1.35em;
  color: #252122;
  font-weight: 600;
}
.sub-blog p{
  margin: 25px 0;
}
.blog-buttons{
  margin-bottom: 25px;
}
.blog-buttons .bttn{
  display: inline-block;
  margin: 20px 4px 0 4px; 
  color: white;
  border-radius: 5%;
  font-weight: 700;
  padding: 5px 10px;
}
.continue-reading{
  background-color: #d52349;
}
.comments{
  background-color: black;
}



@media screen and (min-width: 480px) {
  .wrapper{
    max-width: unset;
  }
  .navigations a {
    margin: 0 30px 0 0;
  }
  .image {
    padding: 65px 0;
  }
  .intro{
    padding: 36px 0;
    max-width: 400px;
  }

  .intro1 p{
    font-weight:bolder;
    font-size:30px;
    margin-bottom: 30px;
  }
  .intro2 p{
    font-size:large;
  }
  .options{
    max-width: unset;
  }

  .options img{
    height: 135px;
    width: 135px;
  }

  .options h1{
    font-weight:bolder;
    font-size:17px;
  }

 .tile{
    display: inline-block;
    width: 32%;
  }
  .setting-buttons .bttn{
    display: inline-block;
    margin: 40px 40px; 
    color: white;
    padding: 10px 20px;
  }

  .portfolio-class{
  
    max-width: unset;
  }
  .portfolio-sequence{
    display: flex;
    flex-wrap:wrap;
  }
  .sub-port{
    width: 45%;
    margin: 0 10px;
  }

  .blog-buttons .bttn{
    display: inline-block;
    margin: 30px 2px; 
    color: white;
    padding: 12px 12px;
  }
  
}


@media screen and (min-width: 990px) {
  .navigations {
    max-width: unset;
  }
  .navigations a {
    display: inline;
    margin: 0 30px 0 0;
  }
  .image {
    padding: 80px 0;
    margin-top: 15px;
  }
  .intro{
    padding: 40px 0;
    max-width: 900px;
  }

  .intro1 p{
    font-weight:bolder;
    font-size:xx-large;
    margin-bottom: 36px;
  }
  .intro2 p{
    font-size:larger;
  }

  .options{
    max-width: unset;
  }
  .options img{
    height: 145px;
    width: 145px;
  }
  
  .options h1{
    font-weight:bolder;
    font-size:19;
  }
  .tile{
    display: inline-block;
    width: 27%;
  }
  .setting-buttons .bttn{
    display: inline-block;
    margin: 40px 40px; 
    color: white;
    padding: 10px 20px;
  }

  .portfolio-class{
  
    max-width: unset;
  }
  .portfolio-sequence{
    display: flex;
    flex-wrap:wrap;
  }
  .sub-port{
    width: 31%;
    margin: 0 10px;
  }

  .blog-class{
    max-width:unset
  }
  .blog-sequence{
    display: flex;
    flex-wrap:wrap;
  }
  .sub-blog{
    width: 44%;
    margin: 0 25px;
  }
  .blog-buttons .bttn{
    margin: 40px 40px; 
    color: white;
    padding: 10px 20px;
  }
}
